<div class="container">
  <div id="titulo">
    <h1>Lista de tarefas</h1>
  </div>
  <div class="input-section">
    <input 
      type="text" 
      [(ngModel)]="newTask" 
      placeholder="Digite aqui uma nova tarefa..."
      (keyup.enter)="addTask()"
      [class.error]="showError"
    >
    <button (click)="addTask()">Adicionar</button>
  </div>
    <div class="error-container" *ngIf="showError">
      <span class="error-message">Por favor, insira uma tarefa!</span>
    </div>
  
    <ul class="task-list">
        <li *ngFor="let task of tasks; let i = index" 
            [class.completed]="task.completed">
          <span>{{ task.name }}</span>
          <div class="actions">
            <button class="complete-btn" (click)="toggleCompleted(i)">
              {{ task.completed ? '✓' : 'Concluir' }}
            </button>
            <button class="remove-btn" (click)="removeTask(i)">Remover</button>
          </div>
        </li>
      </ul>
